$accentColor = #18BF87
$textColor = #232521
$textShadow = 0

// 文章和标签中间的竖线
.home-blog .home-blog-wrapper .info-wrapper .num > div:first-child {
    border-right: 1px solid #eaecef;
}
.info-wrapper .category-wrapper .category-item{
  box-shadow: none!important;
}
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vcontent {
  box-shadow: none!important;
}
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vmeta .vat {
  box-shadow: nonec;
}
